<% if @user.errors.any? %>
  <div class="form-errors">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url:"/signup" do |f| %>
  <p>
    <%= f.label :name, I18n.t("form.user.name")%>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, I18n.t("form.user.email") %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, I18n.t("form.user.password") %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, I18n.t("form.user.password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit%>
  </p>


<% end %>
